# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

**/_backend.tf
**/_shared_config.tf
**/_provider.tf

# .idea
.idea

